@model List<System.Diagnostics.Process>

@{
    ViewBag.Title = "SPA List";
}

<h2>List</h2>
<ul>
    @foreach (var process in this.Model)
    { 
        
        <li> @(process.ProcessName) </li>

    } 
          
</ul>
